@import "~fontsource-source-sans-pro/latin-400-normal.css";
@import "~fontsource-source-sans-pro/latin-700-normal.css";
@import "~fontsource-source-sans-pro/latin-900-normal.css";

/* Permanent Marker */

@font-face {
    font-family: 'Permanent Marker';
    font-style: normal;
    font-weight: 400;
    src:
            url('./PermanentMarker-Regular.woff') format('woff'),
            url('./PermanentMarker-Regular.woff2') format('woff2');
}
